.ability_title {
  position: absolute;
  text-align: center;
  padding: 0 15px;
  width: 100%;
  top: 58px;
}

.ability_section {
  position: absolute;
  text-align: center;
  padding: 0 15px;
  width: 100%;
  top: 106px;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 45px;
  height: 45px;
  margin: 0 20px;
}

.itemContainer1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.nextButton {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 70px;
  background-color: #3da5f5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  font-size: 16px;
}

.radioItem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.ability{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.language_section {
  position: absolute;
  text-align: center;
  padding: 0 15px;
  width: 100%;
  top: 106px;
}

.grid_3x5 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContainer3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}

.radioItem input[type="radio"] {
  display: none;
}

.language_section{
  position: absolute;
  top: 240px;
  display: flex;
  flex-direction: column;
}

.image_name{
  width: 100px;
}

.language_title{
  margin-bottom: 25px;
}