* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}
h1 {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a,
button {
  cursor: pointer;
}
button {
  padding: 0;
}
ul,
ol {
  padding-left: 0;
  list-style: none;
}
