.Quiz_header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
  
.BackTitle {
    font-size: 28px;
  }

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    display: block;
    width: 360px;
    height: 500px;
    margin: 0 auto;
    font-size: 22px;
}

.footer{
    margin: 0, 0, auto;
    width: 100%;
}

.buttonO{
    border-radius: 15px;
    color: #fff;
    margin-bottom: 15px;
    width: 320px;
    height: 50px;
    background-color: rgb(154, 218, 89);
}

.buttonX{
    border-radius: 15px;
    color: #fff;
    width: 320px;
    height: 50px;
    background-color: rgb(220, 51, 51);
}