.SumTitle {
  width: 100%;
  padding: 0 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.SumLeft2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.selectImg {
  margin-left: 5px;
}

.selectLang {
  text-align: center;
}

.RightImg {
  margin-right: 10px;
}

.RightImg .Scrap {
  margin-right: 0;
}

.footer_sum {
  position: absolute;
  top: 735px;
  left: 15px;
}
