.SumTitle {
  background-color: aqua;
  padding: 0 15px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SumLeft2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.SumRight .Copy {
  margin-right: 5px;
}
