.header {
  display: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #fff;
}

.SumTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  z-index: 4;
}

.RightImg {
  width: 30px;
  height: 30px;
}
.RightImg1 {
  width: 20px;
  height: 25px;
}

.RightImg:first-child {
  margin-right: 4px;
}

.articleFooter {
  position: fixed;
  top: 600px;
  left: 10px;
}

.article {
  height: 550px;
  border: 1px solid #bababa;
  border-radius: 6px;
  white-space: pre-line;
  padding: 0 10px;
  position: fixed;
  overflow-y: auto;
  top: 75px;
  background-color: #fff;
  z-index: 3;
}

.articleImg {
  margin-right: 5px;
}

.info {
  position: relative;
  top: 500px;
  left: 10px;
}
