/* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */

.bottomContainer {
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #bababa;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
  overflow: hidden;
}

.bottomLink {
  width: 50px;
  height: 50px;
}

.imgQuizClick {
  width: 55px;
  height: 60px;
  opacity: 30%;
}

.imgHomeClick {
  width: 55px;
  height: 60px;
  opacity: 30%;
}

.BottomInfo {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.imgMyPageClick {
  width: 55px;
  height: 40px;
}

.bottomLink {
  width: 40px;
  height: 40px;
}

.clickImg {
  width: 45px;
  height: 50px;
  display: block;
  transition: opacity 130ms ease-in-out;
}

.clickImg:focus,
.clickImg:active {
  opacity: 1;
}

.nonClickImg {
  width: 45px;
  height: 50px;
  display: block;
  opacity: 30%;
}

.strMyPageClick {
  width: 80px;
  opacity: 30%;
}
