/* nav태그 아래의 자식들을 수평정렬하기 위한 설정 */

nav {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #b2b3b9;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
  height: 86px;
}
/* nav태그 아래의 div태그들을 수평정렬 및 세로길이 설정 */
nav > div {
  /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
  text-align: center;
  float: left;
  width: 10%;

  /* 세로길이 설정 */
  height: 45px;
  line-height: 45px;
  margin-bottom: 40px;
}

nav div img:first-child {
  width: 35px;
}
