.SumTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding-left: 15px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 4;
}

.article {
  padding: 0 10px;
}

.RightImg {
  width: 30px;
  height: 30px;
}

.selectLang {
  position: relative;
  left: 15px;
}

.HomePage_Sub {
  position: absolute;
  top: 20px;
}

.article {
  display: block;
  width: 100%;
  height: 550px;
  border: 1px solid #bababa;
  border-radius: 6px;
  margin: 0 auto;
  white-space: pre-line;
  padding: 10px 0;
  position: relative;
  overflow-y: auto;
  top: 80px;
  background-color: #fff;
  z-index: 3;
}

.article:nth-child(3) {
  margin-bottom: 0;
}

.Copy {
  position: absolute;
  left: 330px;
  top: 5px;
}

.articleDesc {
  background-color: #fff;
  padding: 0 15px;
  position: fixed;
  top: 715px;
  z-index: 1;
}

.HomePage_Sub {
  position: absolute;
  top: 100px;
  width: 100%;
  z-index: 2;
}

.HomeSubBtn {
  width: 360px;
  text-align: center;
}

.articleImg {
  margin-right: 5px;
}

.HomeMainModal {
  background-color: #fff;
  position: absolute;
  top: 190px;
  width: 100%;
  height: 200px;
  border: 1px solid #bababa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SelectPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.SelectLang {
  height: 20px;
  width: 80px;
  text-align: center;
  font-weight: 700;
}

.SelectLanguage {
  width: 80%;
  height: 20px;
  text-align: end;
  font-weight: 700;
}

.SelectSubj {
  text-align: center;
  width: 70px;
  padding: 8px;
}

.SelectSub {
  height: 20px;
  margin-right: 5px;
  font-weight: 700;
  text-align: center;
}

.SelectSubject {
  width: 100%;
  height: 20px;
  text-align: end;
  font-weight: 700;
}

.SelectBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.SelectBtn {
  width: 232px;
  height: 35px;
  padding: 5px 15px;
  border: 1px solid #bababa;
  border-radius: 4px;
  margin-bottom: 5px;
  text-align: center;
}

.SelectBtn:first-child {
  background-color: #3da5f5;
  color: white;
}

.SelectBtn:last-child {
  margin-bottom: 0;
}

.S {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.fullscreenBackground {
  position: relative;
  min-height: 100vh;
  background-color: #8e8e8e86; /* 로딩 중 배경색 설정 */
  transition: background-color 0.3s ease; /* 배경색 전환 효과 추가 */
  z-index: 7;
}

.fullscreenBackgroundLoading {
  display: block;
  width: 100%;
  height: 550px;
  border: 1px solid #bababa;
  border-radius: 6px;
  margin: 0 auto;
  white-space: pre-line;
  padding: 10px 0;
  position: relative;
  overflow-y: auto;
  top: 80px;
  background-color: #fff;
  z-index: 3;
}
