.SumTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 0;
  margin-bottom: 20px;
}

.SumLeft,
.SumRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: block;
  width: 366px;
  height: 274px;
  border: 1px solid #bababa;
  border-radius: 6px;
  margin: 0 auto 15px;
}

.article:last-child {
  margin-bottom: 0;
}

.Copy {
  position: relative;
  left: 330px;
  top: 5px;
}

.articleDesc {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
}

.articleImg {
  margin-right: 5px;
}

.articleBtn {
  margin: 0 auto;
  text-align: center;
  width: 334px;
  height: 60px;
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 17px 0;
  background-color: #3da5f5;
}

.Button {
  font-size: 14px;
  color: white;
}
