.SumTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SumLeft,
.SumRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: block;
  width: 360px;
  height: 274px;
  border: 1px solid #bababa;
  border-radius: 6px;
  margin: 0 auto 15px;
}

.article:last-child {
  margin-bottom: 0;
}

.Copy {
  position: relative;
  left: 330px;
  top: 5px;
}

.articleDesc {
  position: relative;
  left: 10px;
  margin-bottom: 10px;
}

.articleImg {
  margin-right: 5px;
}

.articleBtn {
  margin: 0 auto;
  text-align: center;
  width: 334px;
  height: 60px;
  border: 1px solid #bababa;
  border-radius: 6px;
  padding: 17px 0;
  background-color: #3da5f5;
}

.Button {
  font-size: 14px;
  color: white;
}

.HomeMainModal {
  background-color: #fff;
  position: relative;
  top: -500px;
  margin: 0 auto;
  width: 270px;
  height: 200px;
  border: 1px solid #bababa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.SelectUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.SelectLang {
  margin-right: 120px;
  text-align: center;
  font-weight: 700;
}

.SelectLanguage {
  width: 60px;
}

SelectLanguage::after {
  content: ">";
}

.SelectDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.SelectSubj {
  margin-right: 120px;
  text-align: center;
}

.SelectSub {
  margin-right: 5px;
  font-weight: 700;
}

.SelectSubject {
  width: 60px;
}

.SelectBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.SelectBtn {
  width: 233px;
  height: 35px;
  padding: 5px 15px;
  border: 1px solid #bababa;
  border-radius: 4px;
}

.SelectBtn:first-child {
  background-color: #3da5f5;
  color: white;
}

.SelectBtn:last-child {
  margin-bottom: 10px;
}
