.HomeSub {
  width: 282px;
}

.HomeLangTitle {
  padding: 10px 0;
  font-size: 25px;
  text-align: center;
}

.HomeLangDesc {
  margin: 10px 0;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.HomeLangBtn {
  width: 280px;
  height: 40px;
  font-weight: 700;
}
