.HomeSub {
  width: 100%;
  height: 60vh;
  border: 1px solid #bababa;
  background-color: #fff;
  margin-top: 50px;
  border-radius: 6px;
  padding-bottom: 10px;
  overflow-y: auto;
  float: left;
}

.HomeLangTitle {
  width: 100%;
  height: 45px;
  text-align: center;
  padding: 15px auto;
  font-size: 24px;
  padding-top: 10px;
}
.LangList {
  width: 100%;
  text-align: center;
}

.HomeLangDesc {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  color: #bababa;
}

.HomeLangBtn {
  width: 282px;
  height: 40px;
  font-weight: 700;
  padding: 5px 15px;
}
