.MyPage {
  position: relative;
}

.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 38px;
  width: 85%;
}

.main_header .main_title {
  margin-bottom: 10px;
}

.main_account::after {
  content: ">";
}

.mid {
  position: absolute;
  top: 245px;
}

.mid div {
  display: flex;
}

.mid div .mid hr {
  width: 100vw;
}

.section_icons p {
  font-size: 15px;
}
