.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 38px;
  width: 85%;
}

.main_header .main_title {
  margin-bottom: 10px;
}

.main_account::after {
  content: ">";
}

.mid {
  position: absolute;
  top: 245px;
  display: flex;
  justify-content: space-around;
  align-items: cetner;
}

.mid .mid_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  border-bottom: 1px solid #b2b3b9;
}

.section_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.section_icons .section_img {
  margin-bottom: 5px;
  width: 45px;
  height: 45px;
}

.section_icons .section_desc {
  font-size: 13px;
  width: 90px;
  text-align: center;
}

.MyPage_Lang {
  position: relative;
  margin: 0 auto;
  top: 200px;
}

.bottom {
  position: absolute;
  top: 360px;
}

.bottom .info_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  width: 200px;
}

.bottom .info_lists .info_list {
  display: block;
  margin-bottom: 30px;
}

.bottom .info_lists .info_list:last-child {
  margin-bottom: 0;
}

.info_lists .info_list .info_item {
  display: flex;
  width: 29px;
  height: 29px;
}

.info_img {
  margin-right: 10px;
}

.info_desc {
  display: flex;
  width: 110px;
  height: 34px;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
}

.MyPage_Abil {
  background-color: #fff;
  width: 260px;
  height: 225px;
  position: relative;
  margin: 0 auto;
  top: 240px;
}
