.Login_Header {
  position: absolute;
  width: 85%;
  top: 110px;
  left: 40px;
}

.Login_img {
  width: 240px;
  height: 150px;
}

.Login_section {
  position: absolute;
  top: 550px;
  width: 320px;
  padding: 15px;
}

.Login_section .Login_desc {
  display: block;
  margin-bottom: 18px;
  color: #8c8d96;
  text-align: center;
}

.Login_section .Login_buttons {
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 100px;
  width: 330px;
}
