.Login_Header {
  position: absolute;
  top: 160px;
  left: 60px;
}

.Login_Page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login_Page .Login_img {
  width: 65px;
  height: 65px;
  margin-right: 18px;
}

.Login_section {
  position: absolute;
  top: 540px;
  left: 100px;
}

.Login_section .Login_desc {
  display: block;
  margin-bottom: 18px;
  color: #8c8d96;
}

.Login_section .Login_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
