header {
  position: absolute;
  top: 200px;
  left: 60px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header div img {
  width: 65px;
  height: 65px;
  margin-right: 18px;
}

footer {
  position: absolute;
  top: 577px;
  left: 100px;
}

footer span {
  display: block;
  margin-bottom: 18px;
  color: #8c8d96;
}

footer div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
