.Sub_content {
  width: 282px;
  height: 220px;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #bababa;
  border-radius: 6px;
  z-index: 2;
}

.HomeSubTitle {
  width: 282px;
  height: 45px;
  text-align: center;
  padding: 10px 0;
  font-size: 24px;
}

.HomeSubBtn {
  width: 282px;
  height: 40px;
  font-weight: 700;
  padding: 5px 15px;
}
