.Sub_content {
  width: 105%;
  height: 220px;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  border: 1px solid #bababa;
  border-radius: 6px;
  z-index: 2;
  overflow-y: auto;
}

.HomeSubTitle {
  width: 100%;
  height: 45px;
  text-align: center;
  font-size: 24px;
}

.HomeSubBtn {
  width: 100%;
  height: 40px;
  font-weight: 700;
  padding: 5px 15px;
}
