* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vh;
  background-color: #edeaea3a;
}
body {
  background-color: #edeaea3a;
}

.div {
  position: relative;
}

button:active,
button:focus {
  outline: none !important;
  border: none !important;
}
button {
  color: #fff;
  background-color: #fff;
  cursor: pointer;
}

@font-face {
  font-family: "GmarkeBold";
  font-weight: normal;
  src: url("./assets/font/GmarketSansBold") format("truetype");
}

@font-face {
  font-family: "GmarketLight";

  src: url("./assets/font/GmarketLight") format("truetype");

}

@font-face {
  font-family: "GmarketMedium";

  src: url("./assets/font/GmarketMedium") format("truetype");
  
}