.main {
  position: absolute;
  top: 34px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.historyList {
  position: relative;
  top: 300px;
  width: 90%;
  margin: 0 auto;
  max-height: 550px;
  height: 80vh;
  overflow-y: auto;
  border: 1px solid #bababa;
  border-radius: 6px;
  z-index: -1;
  margin-bottom: 40%;
}

.Scrap_button {
  padding-left: 3px;
  width: 130px;
  height: 30px;
  font-weight: 700;
}

.Scrap_button:after {
  content: "👇";
}

.main_img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.main_title {
  font-size: 14px;
}

.camera {
  position: relative;
  top: 90px;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  height: 134px;
  border: 1px solid #bababa;
  border-radius: 20px;
}

.Camera_Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  width: 95%;
  height: 120px;
  background-color: #fff;
}

.camera_img {
  width: 40px;
  height: 40px;
}

.camera_content {
  border: 1px solid #bababa;
  border-radius: 4px;
  width: 80px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera_content_Btn {
  margin-bottom: 4px;
}

.BtnText {
  width: 130px;
  height: 30px;
  z-index: 2;
  border: 1px solid #bababa;
  position: relative;
  top: -2px;
  right: 1px;
  background-color: #fff;
  font-weight: 700;
}

.ScarpBtn {
  position: absolute;
  top: 224px;
  right: 30px;
  width: 130px;
  height: 30px;
  text-align: center;
  border: 1px solid #bababa;
}

.MainTop {
  width: 100%;
  position: fixed;
  height: 253px;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #bababa;
  background-color: #fff;
}

.Scrap {
  position: absolute;
  top: 200px;
  display: none;
}
/* .Scrab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.HomePage {
  display: flex;
  flex-direction: column;
}


.Title {
  font-size: 20px;
}

.Content {
  margin-top: 10px;
  color: #666;
}

.Timestamp {
  color: #999;
} */
