.main {
  position: absolute;
  top: 34px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.main_title {
  font-size: 14px;
}

.camera {
  position: relative;
  top: 90px;
  margin: 0 auto;
  width: 334px;
  height: 134px;
  border: 1px solid #bababa;
  border-radius: 20px;
}

.Camera_Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 134px;
}

.camera_img {
  width: 40px;
  height: 40px;
}

.camera_content {
  background-color: aqua;
  border: 1px solid #bababa;
  border-radius: 4px;
  width: 80px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera_content_Btn {
  margin-bottom: 4px;
}

.camera_border {
  background-color: aqua;
}

.HomeMainModal {
  background-color: #fff;
  position: relative;
  top: 220px;
  margin: 0 auto;
  width: 270px;
  height: 200px;
  border: 1px solid #bababa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomeSelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SelectUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.SelectLang {
  margin-right: 120px;
  text-align: center;
  font-weight: 700;
}

.SelectLanguage {
  width: 60px;
}

SelectLanguage::after {
  content: ">";
}

.SelectDown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.SelectSubj {
  margin-right: 120px;
  text-align: center;
}

.SelectSub {
  margin-right: 5px;
  font-weight: 700;
}

.SelectSubject {
  width: 60px;
}

.SelectBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.SelectBtn {
  width: 233px;
  height: 35px;
  padding: 5px 15px;
  border: 1px solid #bababa;
  border-radius: 4px;
}

.SelectBtn:first-child {
  background-color: #3da5f5;
  color: white;
}

.SelectBtn:last-child {
  margin-bottom: 10px;
}
