.main {
  position: absolute;
  top: 34px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}

.main_title {
  font-size: 14px;
}

.camera {
  position: relative;
  top: 90px;
  margin: 0 auto;
  width: 334px;
  height: 134px;
  border: 1px solid #bababa;
  border-radius: 20px;
}

.Camera_Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: 134px;
}

.camera_img {
  width: 40px;
  height: 40px;
}

.camera_content {
  border: 1px solid #bababa;
  border-radius: 4px;
  width: 80px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera_content_Btn {
  margin-bottom: 4px;
}

.Homehr {
  position: relative;
  top: 120px;
}

/* .Scrab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScrapItem {
  background-color: #3da5f5;
}

.HomePage {
  display: flex;
  flex-direction: column;
}

.ScrapItem {
  border: 1px solid #ccc;
  padding: 10px;
}

.Title {
  font-size: 20px;
}

.Content {
  margin-top: 10px;
  color: #666;
}

.Timestamp {
  color: #999;
} */
